# Neon Database Connection
DATABASE_URL="postgresql://neondb_owner:[PASSWORD]@[HOST]/neondb?sslmode=require"

# JWT Secret
JWT_SECRET=YOUR-JWT-SECRET-KEY

# URLs
FRONTEND_HOME_URL=http://localhost:3001

# Server port number
NEXT_PUBLIC_BACKEND_HOME_URL=http://localhost:3000
PORT=3000